<div class="row">
	<div class="col-md-6 offset-3 alert alert-success text-center">
		<h2>Porosia juaj eshte kryer me sukses!</h2>

		<p>Ju mund ti shikoni porosite tuaja ne seksionin Porosite ne profilin tuaj</p>
		<hr />
		<b>Thank you!</b>
</div>
</div>