@model AdditionalData;

@{
	ViewData["Title"] = "Menyra e Pageses";
}


<div class="row">
	<div class="col-md-8 offset-2 col-6 offset-1">
	<div class="text-center mb-4">
			<h2 class="col-md-8  mb-4 col-12 offset-2 mb-4">Zgjedhni menyren e pageses</h2>
		</div>
	<div class=" mb-4 ">

			<a class="btn btn-outline-success" asp-controller="AdditionalDatas" asp-action="TeDhenatC"> <i class="bi bi-cash"></i></a>



			<label class=" h5">
				Cash
			</label>
		





		</div>
		<div class="">
			<a class="btn btn-outline-success" asp-controller="AdditionalDatas" asp-action="TeDhenatCC"><i class="bi bi-bank"></i></a>



			<label class=" h5">
			Online
			</label>
			

		</div>

	

</div>
