@model AdditionalData;

@{
	ViewData["Title"] = "Menyra e transportit";

}


<div class="row">
	<div class="col-md-8 offset-2 col-6 offset-1">
		<div class="text-center mb-4">
			<h2 class="col-md-8  mb-4 col-12 offset-2 mb-4">Zgjedhni menyren e transportit</h2>
		</div>
		<div class=" mb-4 ">

			<a class="btn btn-outline-success" asp-controller="AdditionalDatas" asp-action="MenyraPagesesS"> <i class="bi bi-truck"></i></a>



			<label class=" h5">
				STANDARD
			</label>
			<p>Ne cilendo pike ne Kosove , porosia ju arrin me <b>postë</b></p>





		</div>
		<div class="">
			<a class="btn btn-outline-success" asp-controller="AdditionalDatas" asp-action="MenyraPagesesV"><i class="bi bi-shop"></i></a>



			<label class=" h5">
				Merre vet
			</label>
			<p>Ejani tek dyqanet tona dhe merreni porosine tuaj ketu pasi te ju lajmerojme qe porosia juaj ka arritur dhe eshte <b>gati</b></p>

		</div>
	</div>



</div>





